body {
    background-color: whitesmoke;
}

#register_box {
    margin: auto;
    width: 50%;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(198, 223, 230);
}

form {
    text-align: center;
}

#register_btn {
    display: block;
    text-align: center;
    margin: auto;
    width: 100px;
}


.btn {
    width: fit-content;
    background-color: whitesmoke;
    padding: 5px 25px 5px 25px;
    border: 3px solid steelblue;
    border-radius: 5px;
}


input {
    width: 60%;
}

#name {
    margin-left: 44px;
}

#email {
    margin-left: 45px;
}

#password {
    margin-left: 25px;
}


@media screen and (max-width: 600px) {
    #register_box {
      width: 90%;
      margin: 0px;
    }

    label {
        display: block;
        width: 75%;
    }

    #name {
        margin-left: 0px;
        width: 100%;
    }

    #email {
        margin-left: 0px;
        width: 100%;
    }

    #password {
        margin-left: 0px;
        width: 100%;
    }

    #confirm_password {
        width: 100%;
    }

    form {
        text-align: left;
    }
}